pkgbase = mts-link
	pkgdesc = Services for business communications and collaboration. Meetings, webinars, corporate messenger, online whiteboards and training courses in one ecosystem.
	pkgver = 1.2.13
	pkgrel = 1
	url = https://mts-link.ru/
	arch = x86_64
	license = custom:mts-link
	provides = mts-link
	conflicts = mts-link
	options = !strip
	source = mts-link-1.2.13.deb::https://apps.webinar.ru/desktop/latest/mts-link-desktop.deb
	sha256sums = 4e411c12bf4656a8a873bdfee6a50b1a98cb9619d337f5b09d49e399cbbf570a

pkgname = mts-link
